body {
    background: #117a65;
}

.container {
    max-width: 450px;
}

input[type=text], input[type=text]:focus {
    color: white;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 450px;
}

input[type=text]::placeholder {
    color: rgba(255,255,255, 0.3);
}

.todos li {
    background-color: #138d75;
    color: white;
}

.filtered {
    display: none !important;
}

.delete {
    cursor: pointer;
}